*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
   height: 100%;
   scroll-behavior: smooth;
}


body {
  line-height: 1.5;
  height: 100%;
  color: white;
  font-weight: 300;
  position: relative;
  overflow-x: hidden;
   font-family: 'Heebo', sans-serif;
}

canvas {

  display: block;
  vertical-align: bottom;

}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(img/darknight.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
 /* z-index: -10;*/

}

/*utility classes*/

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }
  &-jc-c {
    justify-content: center; 
  }

  &-ai-c {
    align-items: center;
  }
}

a, a:visited, a:hover {
  text-decoration: none;
  color: inherit;
}

 img {
      width: 100%;
}



.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 13px 10px;
  z-index: 1000;
  transition: all .4s ease;
  padding: 12px 18px;

  &__logo {
    width: 60px;
    height: 65px;
    background: transparent;
    filter: brightness(0) invert(1);
/*    opacity: .7;*/
   
  }
  .navigation {
      display: flex;
      align-items: center;

    li {
      list-style-type: none;
      margin-right: 13px;
      font-size: 19px;
      position: relative;
      transition: all .4s ease;

      &::after {
           content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: #fff;
            width: 100%;
            height: 1px;

      }

      &:hover {
          opacity: .7
      }

       &:hover::after {
         animation: forPseudo .2s ease;
         animation-fill-mode: forwards;
       }

  
    } 
     a {
      
      transition: all .3s ease;
     }
  }
}

.header-scroll {
    background: rgba(0, 0, 0, 0.9);


}

/*hamburger menu*/
.nav-hamburger {
   width: 50px;
   height: 27px;
   flex-direction: column;
   display: flex;
   justify-content: space-between;
   display: none;

          span {
          width: 30px;
         
          height: 3px;
          background-color: white;
          display: inline-block;
          transform-origin: -2px 2px;
          transition: all .3s ease-in-out;

              &:not(:last-child){
                 margin-bottom: 4px;
              }
          }
          &.open {

            > span:first-child{
              transform: rotate(45deg);
              background-color: red;
            }
            > span:nth-child(2) {
              opacity: 0;
            }

            > span:last-child {
              transform: rotate(-45deg);
              background-color: red;
            }
          }
}

@media only screen and (max-width: 992px) {

  .canvas {
      background : rgba(0, 0, 0, 0.6) !important;
  }

  .header {
     
         .nav-hamburger {
          display: flex;
          align-self: flex-start;
      }

  .navigation {
    background: black;
    width: 341px;
    height: 432px;
    position: absolute;
    align-items: flex-start;
    justify-content: center;
    padding: 58px;
    top: 80%;
    left: 50%;
    transform: translateX(-200%);

    opacity: 0;

    transition: all .5s ease-out;

    & ul {
      flex-direction: column;
      opacity: 0.9;
          
           & li {
          margin-right: 0;
          font-size: 25px;

            &:not(:last-child){
              margin-bottom: 15px;
              font-stretch: 40px;
            }
        }
      }

      &.nav-open {
    transform: translateX(-50%);
    opacity: 1;
    }
  }
}
}

.home {
    height: 100%;
    width: 100%;
    .name {
        position: absolute;
        font-family: 'Bad Script', cursive;
        bottom: 7%;
        left: 50%;
        transform: translate(-50%, -55%);
        text-align: center;
          h1{
            font-size: 40px;
            margin-bottom: 30px;
          }
        }
    }

.about {
    text-align: center;
 background: #FFFFFF;
background: -webkit-linear-gradient(bottom left, #FFFFFF, #B8B6B4);
background: -moz-linear-gradient(bottom left, #FFFFFF, #B8B6B4);
background: linear-gradient(to top right, #FFFFFF, #B8B6B4);
    padding: 90px 225px;
    color: #000;

    &__container {
      margin-top: 40px;
      

        .img-box {
          margin-right: 27px;

        }
         .text-box {
          text-align: start;
         }

      }


        .skills-box {
          flex-wrap: wrap;
          margin-top: 70px;

            div {
              flex-basis: 45%;
              text-transform: uppercase;
              margin-bottom: 32px;
              position: relative;
              justify-content: space-between;
              transition: all 1s ease-out;
                div {
                  margin-bottom: 0;
                   span:nth-child(2) {
                    margin-right: 53px;
                   
                   }

                }
        
            }
      }
}

/*width increasing styles*/

 .starting-width{
        position: absolute;
        left: 0;
        transition: all .5s ease;
        height: 35%;
        margin-top: 12px;
        background: #6f0111;
        width: 10%;
        border-radius: 10%;
       
}

.width1 {
  width: 86%;


}

.width2 {
  width: 45%;
}

.width3 {
  width: 65%;
}
.width4 {
  width: 79%;
}


.link-active {
 
   
    opacity: .6;
  }

/**/

/*resume and blog sections/ sections that fade in*/

.resume {
  color: #2E1620;
  position: relative;




  &__main {
    flex-direction: column;
    text-align: center;
    padding: 84px 177px;
  }

  &__containers {
        transform: perspective(100000px);
        margin-top: 20px;

     
      div {
     /*   background-color: pink;*/
        padding: 30px;
      

      }
      div:not(:last-child) {
        margin-right: 20px;
      }
      div > *:not(:last-child) {
        margin-bottom: 20px;
      }
  }

}


.blog {
    text-align: center;
    color: black;
    color: #2E1620;
    padding: 90px 225px;
      &__main {
        flex-direction: column;
      }
      h2 {
        margin-bottom: 40px;

      }
      &__container {
        margin-right: 40px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        border-radius: 10px;
        padding: 60px;
        position: relative;

       
      }
}

#on-scroll {
  transition: all .7s ease-out;
}
.hide-sections {
    opacity: 0;
    transform: translateY(70px);

}





#swing {
/*  transform: translateX(-100%);*/
  position: relative;
  transition: all .3s ease-out;
   animation-fill-mode: forwards;  
  padding: 44px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


#swing:hover {
  transform: scale(1.1);
  cursor: pointer;
}


.swing2 {
    animation: swing2 ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    position: absolute;
    top: 30px;
    right: 29px;
    width: 100px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.swing2 img {
    border: 5px solid #f8f8f8;
    display: block;
}
 .swing2:after{
    content: '';
    position: absolute;  
    width: 20px; height: 20px;  
    border: 1px solid #999;
    top: -10px; left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}
/* nail */
.swing2:before{
    content: '';
    position: absolute;
    width: 5px; height: 5px;
    top: -14px;left: 54%;
    z-index: 5;
    border-radius: 50% 50%;
    background: #000;
}  
 
@keyframes swing2 {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}


/* portfolio */

.portfolio {
  color: #000;
background: #FFFFFF;
background: -webkit-linear-gradient(bottom left, #FFFFFF, #B8B6B4);
background: -moz-linear-gradient(bottom left, #FFFFFF, #B8B6B4);
background: linear-gradient(to top right, #FFFFFF, #B8B6B4);
}


#filters {
  text-align: center;
  padding: 20px;
    .filter-button {
      font-size: 16px;
    text-decoration: none;
    color: #666;
    background-color: transparent;
    color: white;
    margin: 10px;
    border: 5px solid #fff;
    padding: 7px 12px;
    transition: all .4s ease;
    outline: none;
    &:hover {
      background: #fff;
      color: #000;
      cursor: pointer;
      transform: scale(.95);
    }
  }
}

#grid {
    max-width: 100%;
    min-height: 582px;
    margin: 0 auto;
  img {
    width: 200px;
    display: inline-block;
    margin: 22px;
    cursor: pointer;

    &.type1 {
      background-color: #85fd2b;
    }
    &.type2 {
      background-color: #2b85fd;
    }
    &.type3 {
      background-color: #fd2b85;
    }
  }
}


/*blog section*/

.blog__container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -10;
  opacity: .8;
  background-color: #6f0111;
  transition: all 1s ease;
 

}
.blog__container {
  transition: all 1s ease;
}
.blog__container:hover {
   cursor: pointer;
   color: #FAEAEA;
}
.blog__container:hover::before {
    animation: increasing .5s ease-out;
    animation-fill-mode: forwards;

}

@keyframes increasing {
  from {
      height: 0%
  }
  to {
      height: 100%
  }
}


@keyframes opacity {
    0%{
    opacity: 0;
  }
   100%{
    opacity: 1;
  }

}

@keyframes fadeIn {
  0%{
    transform: translateY(200%);
    opacity: 0;
  }
   50%{
    opacity: 0.6;
  }


    100%{
    transform: translateY(0%);
    opacity: 1;
  }
}

/*footer*/


.footer {

    background: #000;

    font-size: 16px;
    color: #f7f7f7;

      &__box {
        height: 100%;
        padding: 101px 21px 21px 21px;

        li::after{
              content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: #fff;
            width: 100%;
            height: 1px;
        }


        .social-box {
          font-size: 24px;
          margin-bottom: 32px;
            display: flex;
            justify-content: center;
            align-items: center;

          a {
            position: relative;
            transition: all .3s;
            width: 51px;
            height: 51px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #fff;
            border-radius: 50%;

          
            &:hover {
           color: #000;
          background: #fff;

            }

            &:not(:last-child){
              margin-right: 14px;
            }
          }


         
        }
        &1 {
            border-top: 1px solid #777;
            padding-top: 8px;
        }

        
        & ul li {
          margin-right: 14px;
          list-style-type: none;
          transition: all .3s ease;
          position: relative;

         /* &::after {

            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: #fff;
            width: 100%;
            height: 1px;
         
          }*/

          &:hover {
            opacity: .6;
          }
        
          
          &:hover::after {
            animation: forPseudo .2s ease;
            animation-fill-mode: forwards;
          }

        }
        
     }

     .copyright {
      display: flex;
      align-items: flex-end;
     }
}

.footer__box1 {
   padding-top: 0;
   border: 0;
}

@keyframes forPseudo{
  from {
    width: 100%;
   
  }
  to {
    width: 0%;

  }
}


.audio {
    position: fixed;
    bottom: 12%;
    left: 3%;
    transform: translateX(-50%);
    width: 71px;
    height: 14px;
    color: #fff;
    z-index: 100;
    display: flex;
    align-items: center;
    padding: 17px 15px;
    background: #fff;
    border-radius: 8px;


   
  .audio-box {
    margin: 0 auto;
  }
}

.audioPosition {
     left: unset;
      right: 1%;
}
