*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
   height: 100%;
/*   scroll-behavior: smooth;*/
}


body {
  line-height: 1.5;
  height: 100%;
  color: white;
  font-weight: 100;
  position: relative;

}

canvas {

  display: block;
  vertical-align: bottom;

}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(img/darknight.jpg);
  background-position: center;
  background-size: cover;
 /* z-index: -10;*/

}

/*utility classes*/

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }
  &-jc-c {
    justify-content: center; 
  }

  &-ai-c {
    align-items: center;
  }
}

a, a:visited, a:hover {
  text-decoration: none;
  color: inherit;
}

 img {
      width: 100%;
}



.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 13px 10px;
  z-index: 1000;

  &__logo {
    width: 60px;
    background: white;
    opacity: .7;
  }
  .navigation {
      display: flex;
      align-items: center;
    li {
      list-style-type: none;
      margin-right: 13px;
      font-size: 19px;
  
    } 
     a {
      
      transition: all .5s ease;
     }
  }
}

.header-scroll {
  background-color: black;
}

/*hamburger menu*/
.nav-hamburger {
    width: 50px;
   height: 27px;
   flex-direction: column;
   display: flex;
   justify-content: space-between;

          span {
          width: 30px;
          margin-bottom: 4px;
          height: 3px;
          background-color: white;
          display: inline-block;
          position: relative;



  }
}
.third {
   transform: rotate(45deg);
  top: -3px;
  left: 8px;
    transform-origin: left center;
}
.second {
  visibility: hidden;
}

.first {
    transform: rotate(-45deg);
    transform-origin: left center;
    top: 39px;
    left: 8px;
}

 





.home {
    height: 100%;
    width: 100%;
    .name {
        position: absolute;
        bottom: 7%;
        left: 50%;
        transform: translate(-50%, -55%);
        text-align: center;
          h1{
            font-size: 40px;
            margin-bottom: 30px;
          }
        }
    }

.about {
    text-align: center;
    background-color: grey;
    padding: 90px 225px;

    &__container {
      margin-top: 40px;
      

        .img-box {
          margin-right: 27px;

        }
         .text-box {
          text-align: start;
         }

      }


        .skills-box {
          flex-wrap: wrap;
          margin-top: 70px;

            div {
              flex-basis: 45%;
              text-transform: uppercase;
              margin-bottom: 32px;
              position: relative;
              justify-content: space-between;
              transition: all 1s ease-out;
                div {
                  margin-bottom: 0;
                   span:nth-child(2) {
                    margin-right: 53px;
                   
                   }

                }
        
            }
      }
}

/*width increasing styles*/

 .starting-width{
        position: absolute;
        left: 0;
        transition: all .5s ease;
        height: 28%;
        margin-top: 12px;
        background: black;
        width: 10%;
        border-radius: 10%;
       
}

.width1 {
  width: 86%;


}

.width2 {
  width: 45%;
}

.width3 {
  width: 65%;
}
.width4 {
  width: 79%;
}
.link-active {
  font-weight: bold;
}

/**/

/*resume section*/

.resume {
  background-color: lightgrey;
  position: relative;
/*  height: 70%;*/



  &__main {
    flex-direction: column;
    text-align: center;
    padding: 84px 177px;
  }

  &__containers {
         transform: perspective(100000px);
        margin-top: 20px;

     
      div {
     /*   background-color: pink;*/
        padding: 30px;

      }
      div:not(:last-child) {
        margin-right: 20px;
      }
      div > *:not(:last-child) {
        margin-bottom: 20px;
      }
  }

}

.swing {
   animation: skew 1s ease-out;
   
}

   
@keyframes skew {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0%);
    }
  
}


#swing {
/*  transform: translateX(-100%);*/
  position: relative;
  transition: all .3s ease-out;
   animation-fill-mode: forwards;  
  padding: 71px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


#swing:hover {
  transform: scale(1.1);
  cursor: pointer;
}


.swing2 {
    animation: swing2 ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    position: absolute;
    top: 30px;
    right: 29px;
    width: 100px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.swing2 img {
    border: 5px solid #f8f8f8;
    display: block;
}
 .swing2:after{
    content: '';
    position: absolute;  
    width: 20px; height: 20px;  
    border: 1px solid #999;
    top: -10px; left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}
/* nail */
.swing2:before{
    content: '';
    position: absolute;
    width: 5px; height: 5px;
    top: -14px;left: 54%;
    z-index: 5;
    border-radius: 50% 50%;
    background: #000;
}  
 
@keyframes swing2 {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}


/* portfolio */

.portfolio {
  background-color: pink;
  padding: 80px;

}

#filters {
  text-align: center;
  padding: 20px;
    .filter-button {
    font-size: 16px;
    text-decoration: none;
    color: #666;
    background-color: black;
    border: none;
    margin: 10px;
    padding: 5px 10px;
    &:hover {
      color: white;
    }
  }
}

#grid {
    width: 88%;
    margin: 0 auto;
  img {
    width: 200px;
    height: 160px;
    display: inline-block;
    margin: 15px;

    &.type1 {
      background-color: #85fd2b;
    }
    &.type2 {
      background-color: #2b85fd;
    }
    &.type3 {
      background-color: #fd2b85;
    }
  }
}

/*blog*/

.blog {
    text-align: center;
    color: black;
    padding: 90px 225px;
      &__main {
        flex-direction: column;
      }
      h2 {
        margin-bottom: 40px;
      }
      &__container {
        margin-right: 40px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        border-radius: 10px;
        padding: 60px;
        position: relative;
      }

    }

/* on scroll*/
.scroll-blog {
  animation: fadeIn 1s ease-out;
}

.scroll-blog-text {
  animation: opacity 5s ease;
}
/**/

.blog__container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;

  z-index: -10;
  opacity: .8;
  background-color: pink;
  transition: all 1s;

}

.blog__container:hover::before {
    animation: increasing .5s ease-out;
    animation-fill-mode: forwards;
}

@keyframes increasing {
  from {
      height: 0%
  }
  to {
      height: 100%
  }
}


@keyframes opacity {
    0%{
    opacity: 0;
  }
   100%{
    opacity: 1;
  }

}

@keyframes fadeIn {
  0%{
    transform: translateY(200%);
    opacity: 0;
  }
   50%{
    opacity: 0.6;
  }


    100%{
    transform: translateY(0%);
    opacity: 1;
  }
}

/*footer*/


.footer {

    background-color: #333;
    padding: 37px 18px;
    font-size: 16px;
    color: #f7f7f7;

      &__box {
        &1 {
            border-top: 1px solid #777;
            padding-top: 8px;
        }

        
        & ul li {
          margin-right: 14px;
          list-style-type: none;
          transition: all .2s ease;

          &:hover {
            color: pink;
          
            transform: rotate(5deg) scale(1.3);
          }
        }


      
      }
}
